{% extends "lab/base.html" %}
{% load crispy_forms_tags %}
{% block title %}MOH Area{% endblock title %}
{% block navbar %}
{% include 'lab/sidebar.html' %}
{% endblock navbar %}
{% block content %}
<div class="w3-main" id="main">
  <div class="w3-container w3-teal w3-center">
    <h2>MOH Area Form</h2>
  </div>
  <div class="w3-row">
    <div class="w3-half w3-container">
      <table class="w3-table-all w3-hoverable">
        <tr class="w3-teal">
          <th>MOH Area</th>
          <th>District</th>
          <th>Address</th>
        </tr>
        {% for moharea in mohareas %}
        <tr>
          <td>
            <a hx-get="{% url 'moharea_edit' moharea_id=moharea.id %}" hx-target="#form" class="btn btn-link">
              {{ moharea.name }}
            </a>
          </td>
          <td>{{ moharea.district }}</td>
          <td>{{ moharea.address }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <div class="w3-half w3-container" id="form">
      {% include 'lab/moharea_form.html' %}
    </div>
  </div>

</div>

{% endblock %}